body{
    /* margin-left: 32px; */
    background-color: #ffeccf
}

iframe{
    display: block;
    margin: 0 auto
}

img{
    display: block;
    margin: 0 auto
}

div.icons{
    display: block;
    margin: 0 auto;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}